body {
  margin: 0;
  font-family: 'Gluten', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: white;
  background-color: white; 
  background-image: linear-gradient(to right, rgba(75,6,193,1) , rgba(206,2,189,1));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.linear{
  background-image: linear-gradient(to right, rgba(75,6,193,1) , rgba(206,2,189,1));
  text-align: center;
  color: white;
}
.h1{
  text-align: center;
  color: white;
}
.h3{
  text-align: center;
  padding: 0 10%;
  color: white;
}

.divbutton{
  margin-top: 50px;
  /* padding: 0.8rem 1.5rem; */
  padding: 0.5rem 1.2rem;
  max-width: 130px;  
  border-radius: 40px;
  background-image: linear-gradient(to top,#1b5dbf,#23ffdb);
}